/*
 * The main dark mode styles
 */

@mixin dark-scheme {
  /* Framework color */
  --main-bg: #004d40;
  --mask-bg: #00695c;
  --main-border-color: #00796b;

  /* Common color */
  --text-color: #aed6d3; /* softened shade of white */
  --text-muted-color: #80cbc4;
  --text-muted-hightlight-color: #b2dfdb;
  --heading-color: #e0f7fa; /* slightly softened white for headings */
  --label-color: #b2dfdb;
  --blockquote-border-color: #00796b;
  --blockquote-text-color: #80cbc4;
  --link-color: #4dd0e1;
  --link-underline-color: #26c6da;
  --button-bg: #003d33;
  --btn-border-color: #004d40;
  --btn-backtotop-color: var(--text-color);
  --btn-backtotop-border-color: #004d40;
  --btn-box-shadow: var(--main-bg);
  --card-header-bg: #004d40;
  --checkbox-color: #7fddd2;
  --checkbox-checked-color: var(--link-color);
  --img-bg: radial-gradient(circle, #004044 0%, #00574c 100%);
  --shimmer-bg: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(58, 55, 55, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );

  /* Sidebar */
  --site-title-color: #b2dfdb;
  --site-subtitle-color: #80cbc4;
  --sidebar-bg: #003d33;
  --sidebar-border-color: #004d40;
  --sidebar-muted-color: #80cbc4;
  --sidebar-active-color: rgba(255, 255, 255, 0.95);
  --sidebar-hover-bg: #00574c;
  --sidebar-btn-bg: #004d40;
  --sidebar-btn-color: #80cbc4;
  --avatar-border-color: rgba(206, 206, 206, 0.9);

  /* Topbar */
  --topbar-bg: rgba(0, 77, 64, 0.64);
  --topbar-text-color: var(--text-color);
  --search-border-color: #004d40;
  --search-icon-color: #26c6da;
  --input-focus-border-color: #80cbc4;

  /* Home page */
  --post-list-text-color: var(--text-color);
  --btn-patinator-text-color: var(--text-color);
  --btn-paginator-hover-color: #80cbc4;

  /* Posts */
  --toc-highlight: #26c6da;
  --tag-hover: #004d40;
  --tb-odd-bg: #003d33; /* odd rows of the posts' table */
  --tb-even-bg: #004d40; /* even rows of the posts' table */
  --tb-border-color: var(--tb-odd-bg);
  --footnote-target-bg: #004d40;
  --btn-share-color: #80cbc4;
  --btn-share-hover-color: var(--text-color);
  --card-bg: #003d33;
  --card-hovor-bg: #00574c;
  --card-shadow: rgba(0, 77, 64, 0.72) 0 6px 18px 0, rgba(137, 135, 135, 0.24) 0 0 0 1px;
  --kbd-wrap-color: #80cbc4;
  --kbd-text-color: var(--text-color);
  --kbd-bg-color: #004d40;
  --prompt-text-color: rgba(174, 214, 211, 0.75);
  --prompt-tip-bg: rgba(0, 77, 64, 0.64);
  --prompt-tip-icon-color: rgba(38, 198, 218, 0.81);
  --prompt-info-bg: rgba(0, 77, 64, 0.8);
  --prompt-info-icon-color: #26c6da;
  --prompt-warning-bg: rgba(90, 69, 3, 0.88);
  --prompt-warning-icon-color: rgba(255, 165, 0, 0.8);
  --prompt-danger-bg: rgba(86, 28, 8, 0.8);
  --prompt-danger-icon-color: #cd0202;

  /* tags */
  --tag-border: #00796b;
  --tag-shadow: #004d40;
  --dash-color: #004d40;
  --search-tag-bg: #003d33;

  /* categories */
  --categories-border: rgba(0, 77, 64, 0.5);
  --categories-hover-bg: #004d40;
  --categories-icon-hover-color: white;

  /* archives */
  --timeline-node-bg: #80cbc4;
  --timeline-color: var(--text-color);
  --timeline-year-dot-color: var(--timeline-color);

  .light {
    display: none;
  }

  /* categories */
  .categories.card,
  .list-group-item {
    background-color: var(--card-bg);
  }

  .categories {
    .card-header {
      background-color: var(--card-header-bg);
    }

    .list-group-item {
      border-left: none;
      border-right: none;
      padding-left: 2rem;
      border-color: var(--categories-border);

      &:last-child {
        border-bottom-color: var(--card-bg);
      }
    }
  }

  #archives li:nth-child(odd) {
    background-image: linear-gradient(
      to left,
      #003d33,
      #004d40,
      #004d40,
      #004d40,
      #003d33
    );
  }

  color-scheme: dark;

  /* stylelint-disable-next-line selector-id-pattern */
  #disqus_thread {
    color-scheme: none;
  }
} /* dark-scheme */